.emails-input {
  height: 96px;

  background: #FFF;
  border: 1px solid #C3C2CF;
  border-radius: 4px;

  color: #050038;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  line-height: 24px;

  overflow: auto;
}

.emails-input__container {
  display: flex;
  flex-wrap: wrap;
  padding: 4px;

.emails-input__input {
  flex: 1 0 auto;

  padding: 0;
  margin: 4px;

  background: transparent;
  border: 0;

  color: inherit;
  font-size: inherit;
  line-height: inherit;
  outline: 0;
}

.emails-input__input::placeholder {
  color: #C3C2CF;
}
}
